*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/hoja1/nbproject/private/
/hoja1/build/
/Persona/nbproject/private/
/PCTR-Practicas/Practica12/nbproject/private/
/PCTR-Practicas/Practica11/nbproject/private/
/hoja2/dist/
/PCTR-Practicas/Practica11/build/
/PCTR-Practicas/Practica11/dist/
/hoja4/dist/
/PCTR-Practicas/Practica12/build/
/hoja5/dist/
/PCTR-Practicas/practica1/dist/
/PCTR-Practicas/practica2/dist/
/PCTR-Practicas/practica3/dist/
/PCTR-Practicas/practica4/dist/
/PCTR-Practicas/Practica5/dist/
/PCTR-Practicas/Practica6/dist/
